.welcome-background {
	width: 100%;
	min-height: 100vh;
	background-image: url('../images/Erik3.jpg');
	background-size: cover;
}

.eriktext {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.eriktext .text {
	text-align: center;
	white-space: pre-wrap;
	color: #fff;
	font-weight: 700;
	font-style: normal;
	font-size: 80px;
	letter-spacing: 0em;
	line-height: 1.2em;
	text-transform: none;
}

.eriktext .text2 {
	text-align: center;
	font-style: normal;
	font-size: 16px;
	letter-spacing: .1em;
	line-height: 1.5em;
	text-transform: uppercase;
	color: #fff;
}

.down-arrow {
	position: absolute;
	left: 47%;
	bottom: 0 !important;
	background-repeat: no-repeat;
	background-image: url('../images/down-arrow.png');
	width: 58px;
    height: 58px;
	cursor: pointer;
	background-color: transparent;
	border: none;
}
.down-arrow:hover{
	opacity: 0.7;
	cursor: pointer;
	height: 54px;
}
.secondsection{
	display: flex;
}
/* .firstimage{
	background-image: url('../images/chefdagen2019-Erik.jpg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
	background-size: contain;
} */
.rightimages{
	display: flex;
	flex-direction: column;
	width: 40%;
	height: 505px;
}
.secondimage{
	background-image: url('../images/Erik10.jpg');
	width: 100%;
    height: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.thirdimage{
	background-image: url('../images/Index-Awards.jpg');
	width: 100%;
    height: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.leftimages{
	width: 60%;
	height: 505px;
}
.erikheaden{
    margin: auto;
    width: 50%;
}
.erikheaden h1{
	margin-top: 10% !important;
	color: #001d61;
	margin-top: 15px;
	font-weight: 600;
    font-style: normal;
    font-size: 80px;
    letter-spacing: 0em;
    line-height: 1.2em;
    text-transform: none;
}
.erikheaden h5{
	margin-top: 15px;
	margin-top: 15px;
	color: black;
	font-family: sofia-pro;
    font-weight: 900;
    font-style: normal;
    font-size: 16px;
    letter-spacing: .1em;
    line-height: 1.5em;
    text-transform: uppercase;
}
.erikheaden p{
	font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: .01em;
    line-height: 2em;
    text-transform: none;
    color: #000;
}

.textcontact{
	margin-top: 15px;
	margin-top: 15px;
	color: black;
	font-family: sofia-pro;
    font-weight: 900;
    font-style: normal;
    font-size: 16px;
    letter-spacing: .1em;
    line-height: 1.5em;
    text-transform: uppercase;
}

.erikheaden button{
	margin-top: 15px;
	transition: .1s opacity linear;
	border-radius: 300px;
	color: #fff;
	font-size: 14px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #fff;
    background-color: #001d61;
    border-color: #001d61;
	padding: 1rem;
}
.erikheaden button:hover{
	opacity: .8;
}
.twoimages{
	margin-top: 10%;
	width: 100%;
	height: 100vh;
	display: flex;
}
.twoimages .rightimg{
	background-image: url('../images/Index-Awards.jpg');
	width: 50%;
    height: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.twoimages .leftimg{
	background-image: url('../images/Erik10.jpg');
	width: 50%;
    height: 100%;
	background-repeat: no-repeat;
	background-size: cover;

}
.backgdcolor{
	margin-top: 10%;
	background-color: #041045;
}
.texttrasform{
	text-decoration: underline;
	color: #fff;
	cursor: pointer;
}
.footerlink{
	text-decoration: underline;
	color: #000;
	cursor: pointer;
}
.footerlink:hover{
	color: rgba(0,0,0,.6);
}
.texttrasform:hover{
	color: rgba(255,255,255,.6);
}
.btnprimary{
	margin-top: 15px !important;
	transition: .1s opacity linear !important;
	border-radius: 300px !important;
	color: #fff !important;
	font-size: 14px !important;
    font-weight: 700 !important;
    font-style: normal !important;
    text-transform: uppercase !important;
    letter-spacing: .1em !important;
    color: #fff !important;
    background-color: #001d61 !important;
    border-color: #001d61 !important;
	padding: 1rem !important;
	font-size: 18px !important;
}
.btnwhite{
	background-color: white !important;
	color: #001d61 !important; 
}
.btnwhite:hover{
	color: rgba(255,255,255,.6);
}
.galldiv{
	background-image: url('../images/DSC.jpg');
	background-size: cover;
	height: 159vh;
	width: 100%;
	display: flex;
    align-items: flex-end;
}
.textquote{
	font-family: sofia-pro;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    letter-spacing: 0em;
    line-height: 1.5em;
    text-transform: none;
	margin-left: 6%;
}
.padimage{
	padding: 5%;
}
.spanquote{
	margin-left: 6%;
	font-family: sofia-pro;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .02em;
    line-height: 1.5em;
    text-transform: capitalize;
}
.preclient{
	font-weight: 900;
    font-style: normal;
    font-size: 14px;
    letter-spacing: .2em;
    line-height: 1.2em;
    text-transform: uppercase;
	color: #001d61;
}
.Index-nav {
    align-items: center;
    position: fixed;
	top: 23%;
    bottom: 0;
	right: 4%;
    z-index: 10;
    width: 0;
}
.Index-nav-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    transform: translatez(0);
}
.Index-nav-item {
    display: block;
    position: relative;
    padding: 10px 0;
}
.Index-nav-indicator {
    width: 12px;
    height: 12px;
    border-radius: 300px;
    border-width: 2px;
    border-style: solid;
    border-color: #001d61;
	z-index: 9999;
    transition: border-color 170ms ease-out,background-color 170ms ease-out;
}
.Index-nav-indicator {
    border-color: #fff;
}
.Index-nav-text{
	display: none
}
.bluebackground{
	border-color: #001d61;
	background-color: #001d61;
}
.boderolor {
	border-color: #001d61 !important;
}
.journeyimg{
	width: 30%;
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.journeytxt {
	width: 70%;
}
.textjourney{
	margin: 3.67rem 0;
}
.journeytxt h2{
	color: #001d61;
	font-style: normal;
    font-size: 14px;
    letter-spacing: .2em;
    line-height: 1.2em;
    text-transform: uppercase;
}

.scrolled{
	color: white !important;
	font-size: x-large;
	background-color: white;
}
#footer{
	background-color: #c4b8ab;
}
.footerdiv{
	padding: 4rem;
}
.iconsfooter{
	padding: 2rem;
}
.iconsfooter a:hover{
	opacity: 0.8
}
.logos img{
	width: 14%;
}
.modal-header{
	border-bottom: none !important;
	border: none !important;
}
.close{
	border: none;
    background: none;
    font-size: 24px;
}

.nameinput{
	margin: 0px 0 0 -2%;
}
.nameinput .title{
	margin-left: 2%;
	font-size: 12px;
}

.ftnsize{
	font-size: 12px;
}

.field{
	width: 48%;
}
.field .title {
    font-size: 12px;
}

.title {
    font-size: 12px;
}

.lastname input{
	margin-top: 7px;
}
#checkboxes-4 label{
	margin-left: 12px;
}
.description{
	font-size: 12px;
}
a{
	text-decoration: none !important;
}
.btnsend{
	display: inline-block;
    width: auto;
    height: auto;
    padding: 1em 2.5em;
    color: #fff;
    background-color: #272727;
    border-width: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1em;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    font-size: 14px;
    text-transform: none;
}
.input{
	width: 100%;
    padding: 12px;
    margin: 6px 0 4px;
    border: 1px solid #ccc;
    background: #fafafa;
    color: #000;
    font-family: sans-serif;
    font-size: 12px;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 2px;
}
.inputdate{
	padding: 12px;
    margin: 6px 3px 4px;
    border: 1px solid #ccc;
    background: #fafafa;
    color: #000;
    font-family: sans-serif;
    font-size: 12px;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 2px;
}









@media screen and (max-width: 1080px) {
	.Index-nav{
		display: none;
	}
}

@media screen and (max-width: 640px) {
	.logos{
		display: flex;
	}
	.logos img {
		padding: 3%;
		width: 100%;
        height:109.701px
	}
	.padimage{
		display: flex;
		flex-direction: column;
	}
	.erikheaden p {
		font-size: 10px;
	}
	.erikheaden h3 {
		font-size: 8pt;
	}
	.erikheaden h1, .eriktext h1{
		font-size: 32px !important;
	}
	li{
		font-size: 8pt;
	}
	.down-arrow {
		left: 41%;
	}
	.twoimages{
		margin-top: 10%;
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
	}
	.twoimages .rightimg{
		width: 100%;
	}
	.twoimages .leftimg{
		width: 100%;
	}
	.erikheaden{
		margin: 0;
		width: 100%;
		padding: 17px;
	}
	.secondsection {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}
	.leftimages{
		height: auto;
		width: 100%;
	}
	.rightimages{
		width: 100%;
	}
	.galldiv h1 {
		font-size: 32px !important;
	}
	.journeyflex{
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
	}
	.journeyimg{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.journeyimg{
		text-align: center;
	}
	.journeytxt {
		width: 100%;
	}
  }